body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.logo-menu {

    width: 100%;
}

.mr-auto {
    margin-right: auto;
}

.root {
    /* border: solid red; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

img {
    display: block;
    /* border: solid green; */
    /* max-width: 100%; */
}

.about-root {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid gold; */
    width: 50%;
}

.introduction {
    background-image: url('/assets/bg-image.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    background-size: cover;
    margin-bottom: 1em;
}

.mona-intro {
    line-height: 1.5em;
    font-size: 2.5em;
    letter-spacing: 5px;
    /* margin: 0 auto; */
    /* align-items: center; */
    /* justify-content: center; */
}

.sub-intro {
    /* border: solid red; */
    margin-left: 2.5em;
    margin-top: -1.5em;
    text-wrap: wrap;
    color: wheat;
    letter-spacing: -0.5px;
}

.lets-get-in-touch {
    border: solid red;
    /* justify-content: end;
    align-items: end;  */
    margin-right: 12.5em;
    /* width: 50%; */
    padding: 1em;
    font-size: 1.3em;
    /* margin: 0 auto; */

}

.lets-get-in-touch:hover {
    background-color: #36454F;
}

.a-link {
    text-decoration: none;
    /* align-items: end;
    justify-content: flex-end;
    padding-left: 6em; */
    color: #fff;

}
.my-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-contact > .linkedin-highlight:hover {
    text-decoration: underline;
    color: red;
    text-decoration-thickness: 3px;
}

.project-title {
    text-align: center;
    text-shadow: 2px 2px 8px indianred;
    font-size: 2.5em;
    padding-top: 1em;
}

.text-effects {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    font-size: 1.2em;
}

.font-size {
    font-size: 1.2em;
}

.text-end > a:hover {
    color: red
}
.text-end {
    text-align: end;
}

.italic {
    font-style: italic;
}

.center-text {

    text-align: center;

}


.skills, .third, .divide-images, .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: solid khaki; */
    margin-bottom: 1.5em;
}

a {
    text-decoration: none;
    color: #fff;
}

.skills {
    margin: 1em;
}

.about-root > .lists:hover {

    text-decoration: underline;
    color: red;
    text-decoration-thickness: 3px;

}

.lights > a:hover, .html-task > a:hover, .major-project > a:hover,
.back-end-1 > a:hover, .back-end-2 > a:hover, .back-end-3 > a:hover,
.full-stack-1 > a:hover, .full-stack-2 > a:hover, .full-stack-3 > a:hover { 
    color: red;
}

.padding-1 {
    padding: 1em;
}

.fourth {
    background-color: #1D1D25;
    margin: 1em;
}

.about {
    /* border: solid aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: justify;
    padding: 1.5em;
    max-width: 100%;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: justify;
    padding: 1.5em;
    max-width: 100%;
}

.small-p {
    font-size: 2em;
    text-align: center;
    /* line-height: 3em; */
    align-items: center;
    display: flex;
    padding: 4%;
    /* margin-bottom: auto; */
    /* margin: 0 auto; */
    /* margin-top: auto;*/
}

.small {

    font-size: 1.5em;
    align-items: center;
    letter-spacing: 0.2em;
    margin: 1em;
} 

.lets-get-in-touch > a:hover {
    background-color: #36454F;
}

.contact {
    text-decoration: none;
    color: #fff;
    /* border-radius: 7%; */
    border: solid red;
    padding: 1em;
    margin: 1em;
    align-items: center;
    display: flex;
}

.footer-msg {
    font-size: 3em;
    font-weight: bolder;
    width: max-content;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;
}
.front-end-container, .full-stack-projects, .back-end-languages {
    text-align: justify;
}

.my-contact {
    padding: 0.5em;
}

@media (min-width: 1291px) {
    .container {
        border: solid red;
        /* display: flex; */
        /* justify-content: center;
        flex-direction: column; */
        align-items: center;
        max-width: 60%;
        margin: 0 auto;
        /* padding: 1em; */
    }

    .front-end-container, .full-stack-projects, .back-end-languages {
        text-align: center;
    }

    .all-projects {
        display: flex;
        column-gap: 1em;
        justify-content: space-around;
    }

    /* .root {
        justify-content: space-between;
    } */
}

@media (min-width: 320px) and (max-width: 1290px) {
    .container {
        border: solid blue;
        max-width: 100%;
    }
    .lets-get-in-touch {
        margin-right: 0em;
    }
    .mona-intro {
        letter-spacing: 0px;
    }
    .skills {
        display: flex;
        flex-direction: column;
    }

   .footer-msg {
    width: 100%;
   }

    /* .about-me {
        padding: 1.5em;
    } */
    .girl, .techStack{
        margin: 0 auto;
    }

    .third {
        flex-direction: column-reverse;
    }
    .front-end-container, .full-stack-projects, .back-end-languages {
        text-align: center;
    }

    .footer {
        margin: 1em;
        flex-direction: column;
    }
}